.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
.hide {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.remove {
  display: none; }

.is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -ms-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  visibility: hidden; }

.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; }

blockquote {
  border-left: 2px solid #4834d4;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 20px;
  padding-left: 25px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h2 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 25px; }

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 25px; }

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 25px; }

p {
  font-size: 16px;
  margin: 0 0 20px; }

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word; }

code {
  border-radius: 5px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 2px 10px;
  word-break: break-all;
  word-wrap: break-word; }

a {
  color: #4834d4; }
  a:hover, a:focus {
    text-decoration: none; }

@media screen and (max-width: 480px) {
  body {
    font-size: 14px; }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 18px; }
  h3 {
    font-size: 16px; }
  h4,
  h5,
  p,
  ul,
  ol {
    font-size: 14px; } }

.clearfix:after,
.group:after {
  content: " ";
  display: block;
  clear: both; }

/** --------------------------------------------------------------------

    Flexbox Mixins

--------------------------------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.btn {
  border-radius: 5px;
  background: transparent;
  border: 1px solid #4834d4;
  color: #4834d4;
  display: inline-block;
  font-size: 100%;
  height: 44px;
  outline: none;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize; }
  .btn:hover, .btn:focus {
    background: #4834d4;
    border-color: #4834d4;
    color: #fff;
    text-decoration: none; }
  .btn:active {
    background: #3725b0;
    border-color: #3725b0; }

.btn-primary {
  background-color: #4834d4;
  border-color: #4834d4;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus {
    background: #3d2ac5;
    border-color: #3d2ac5;
    color: #fff; }
  .btn-primary:active {
    background: #3725b0;
    border-color: #3725b0;
    color: #fff; }

.btn-lg {
  font-size: 1.4em;
  height: 66px;
  padding: 0 60px; }

.btn-sm {
  font-size: .85em;
  height: 30.8px;
  padding: 0 10px; }

.btn-link {
  box-shadow: none;
  background: transparent;
  border: 0;
  color: #4834d4;
  text-shadow: none;
  text-transform: none; }
  .btn-link:hover, .btn-link:focus {
    background: transparent;
    color: #4834d4;
    text-decoration: underline; }

@media screen and (max-width: 480px) {
  .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%; } }

img,
video,
audio,
iframe,
object {
  max-width: 100%; }

h1 {
  color: #4834d4; }
